<div class="approach grid-layout-row">
    <div class="grid-col-layout prose prose-custom-fonts unordered-list-items prose-h2:mt-0 prose-h2:mb-7 prose-h2:relative
            prose-h2:z-10">
        {% renderFile "./src/_includes/markdown-partials/_approach.md" %}
    </div>
</div>