<div class="background grid-layout-row gap-8">
  <div class="background-introduction grid-col-layout prose prose-custom-fonts unordered-list-items prose-h2:mt-0 prose-h2:mb-7">
    {% renderFile "./src/_includes/markdown-partials/_background.md" %}
  </div>
</div>