{# exception for front page: h2 uses h1 styling #}
<div class="background flex flex-col gap-8">
    <div class="background-introduction prose prose-custom max-w-none prose-custom-fonts prose-custom-layout
            first-header-no-margin first-paragraph-margin italic-in-heading ordered-list-items unordered-list-items
            prose-h2:sm-heading-1 lg:prose-h2:lg-heading-1 xl:prose-h2:xl-heading-1 prose-h2:mb-7 md:pr-11 lg:pr-10">
        {% renderFile "./src/_includes/markdown-partials/_background.md" %}
    </div>
    {% include "./_featured-content.njk"%}
</div>