<div class="flex flex-wrap gap-7 mt-5">
    {{ card(caseStudies.productDesign.title, caseStudies.productDesign.subtitle, caseStudies.productDesign.slug, false, "/case-studies/product-design/candlestick-chart.webp", caseStudies.productDesign.tags) }}
    {{ card(caseStudies.userFlow.title, caseStudies.userFlow.subtitle, caseStudies.userFlow.slug, false, "/case-studies/user-flow/soybean-plant.webp", caseStudies.userFlow.tags) }}
</div>