{% from "./components/card.njk" import card as card %}
<div class="case-study-listings grid-layout-row">
    <div class="grid-col-layout">
        <h2 class="case-study-listings-title mb-7 sm-heading-2 xl:xl-heading-2 relative z-10">
            Case studies
        </h2>
        {% include "./_cards-case-studies.njk"%}
    </div>
</div>