{% import "./components/nav-item-footer.njk" as navitemfooter %}
<nav id="footer" class="grid-layout-row bg-primary-80">
    <ul
        class="grid-col-layout w-full pl-5 md:pl-0 py-9 md:pt-10 lg:pt-11 lg:pb-10 md:pb-9">
        {# Small breakpoint #}
        <div class="md:hidden flex flex-col gap-9">
            <div>
                {{ navitemfooter.label("Home", "/") }}
            </div>
            <div class="flex flex-col gap-3">
                {{ navitemfooter.label("Journal", "/journal") }}
                {{ navitemfooter.label("Q & A", "/career-q-and-a") }}
            </div>
            <div class="flex flex-col gap-3">
                {{ navitemfooter.label("Email", "mailto:jaredjgebel@gmail.com") }}
                {{ navitemfooter.label("LinkedIn", "https://www.linkedin.com/in/jaredjgebel/") }}
                {{ navitemfooter.label("GitHub", "https://github.com/jaredjgebel/ux-portfolio") }}
            </div>
        </div>
        {# Medium breakpoint and above #}
        <div class="hidden md:flex md:flex-row md:items-center md:gap-3">
            {{ navitemfooter.label("Home", "/") }}
            <span class="text-neutral-10">&#8226;</span>
            {{ navitemfooter.label("Journal", "/journal") }}
            <span class="text-neutral-10">&#8226;</span>
            {{ navitemfooter.label("Q & A", "/journal/career-q-and-a") }}
        </div>
        <div class="hidden md:flex md:flex-row md:items-center md:gap-3">
            {{ navitemfooter.label("Email", "mailto:jaredjgebel@gmail.com") }}
            <span class="text-neutral-10">&#8226;</span>
            {{ navitemfooter.label("LinkedIn", "https://www.linkedin.com/in/jaredjgebel/") }}
            <span class="text-neutral-10">&#8226;</span>
            {{ navitemfooter.label("GitHub", "https://github.com/jaredjgebel/ux-portfolio") }}
        </div>
        <div class="pt-10 md:pt-11 lg:pt-12">
            <li class="nav-item-footer">
                {{ navitemfooter.label("Attributions", "/attributions") }}
            </li>
            <div class="built-with pt-6">
                <p class="pl-3 text-neutral-10 text-sm leading-4">Built by Jared using
                    <a class="hover:underline focus:outline focus:outline-2 focus:outline-primary-30" href="https://www.11ty.dev/">Eleventy</a>,
                    <a class="hover:underline focus:outline focus:outline-2 focus:outline-primary-30" href="https://tailwindcss.com/">
                        Tailwind CSS</a>, and
                    <a class="hover:underline focus:outline focus:outline-2 focus:outline-primary-30" href="https://alpinejs.dev/">Alpine.js</a>
                </p>
            </div>
        </div>
    </ul>
</nav>