<header class="grid-layout-row bg-primary-80">
  <div id="header-content" class="grid-layout-content">
    <div class="col-span-full md:col-start-2 md:col-span-6 mdlg:col-start-3 mdlg:col-span-12 lg:col-start-2 lg:col-span-14 flex
        flex-col gap-7 pt-13 pb-12 md:gap-9 md:px-0 lg:pt-[232px] lg:pb-13 xl:gap-10 xl:pt-64 max:pt-80 max:pb-48 text-primary-0">
      <div id="title-and-divider" class="flex flex-col gap-9 md:gap-10 xl:gap-11">
        <div id="title-and-subtitle" class="flex flex-col gap-2">
          <h1 class="sm:sm-heading-display xl:xl-heading-display">Jared Gebel</h1>
          <h2 class="sm:sm-heading-2 xl:xl-heading-2">UX Research and Design</h2>
        </div>
        {% include "elements/_divider-light.njk" %}
      </div>
      <div id="header-subheading" class="flex flex-col gap-2 sm:sm-subheading">
        <p>Web development proficiency</p>
        <p>Experience in nonprofits and customer service</p>
        <p>Academic background in psychology and anthropology</p>
      </div>
    </div>
  </div>
</header>