{% import "./components/menu-item.njk" as menuitem %}
<div
    id="menu"
    class="fixed top-0 left-0 h-screen w-screen max-w-[20rem] md:w-[20rem] pb-6 bg-primary-70 overflow-y-auto z-10"
    x-cloak="x-cloak"
    x-show="isToggled"
    x-transition
    @click.away="isToggled = false"
    @keydown.escape="isToggled = false">
    <div id="menu-header" class="h-9 flex pl-3 items-center">
        <button
            id="close-menu-button"
            class="flex items-center p-3 rounded-sm group focus:outline-neutral-0 focus:outline focus:outline-1"
            @click="isToggled = !isToggled"
            aria-labelledby="close-menu-button-label">
            <span
                id="close-menu-button-label"
                class="text-neutral-10 group-hover:text-neutral-0 group-focus:text-neutral-0 relative top-[0.11rem]">
                Close</span>
        </button>
    </div>
    <ul id="menu-list" class="w-full">
        {% for item in sidebarItems %}
            {% if item.type === 'menulabel' %}
                {{ menuitem.label(item.text, item.link) }}
            {% endif %}
            {% if item.type === 'sectionlabel' %}
                {{ menuitem.sectionLabel(item.text) }}
            {% endif %}
        {% endfor %}
    </ul>
</div>