<div
    x-data="{ isToggled: false }"
    @resize.debounce.100.window="isToggled = (window.innerWidth < 1056) ? isToggled : false">
    <nav class="lg:hidden">
        <div
            id="top-nav-bar"
            class="flex items-center bg-primary-70 h-9 pl-3 shadow-primary-70"
            @keydown.escape="isToggled = false">
            <button
                class="flex items-center gap-3 p-3 rounded-sm group focus:outline-neutral-0 focus:outline focus:outline-1"
                @click="isToggled = !isToggled"
                aria-labelledby="open-menu-button-label">
                <span
                    id="open-menu-button-label"
                    class="text-neutral-10 group-hover:text-neutral-0 group-focus:text-neutral-0 relative top-[0.11rem]">Menu</span>
            </button>
        </div>
        <div>
            {% include "./_menu.njk" %}
        </div>
    </nav>
</div>