<div
    class="skills flex flex-col items-center max:w-full gap-11 lg:gap-12">
    {# Section: The UX skills I've acquired #}
    <div class="prose prose-custom-fonts first-paragraph-featured-text unordered-list-items max-w-fit unordered-list-padding">{% renderFile "./src/_includes/markdown-partials/_skills.md" %}</div>
    <div class="divider flex w-full justify-center">
        {% include "./elements/_divider-dark.njk"%}
    </div>
    {# Section: My unique strengths #}
    <div class="prose prose-custom-fonts first-paragraph-featured-text unordered-list-items max-w-fit unordered-list-padding">{% renderFile "./src/_includes/markdown-partials/_strengths.md" %}</div>
</div>