{% from "./tag.njk" import tag %}
{% macro postListing(url, title, date, description, tagLabels) %}
    <h3 class="mb-1">
        <a href="{{ url }}" class="outline-2 outline-primary-70">{{ title }}</a>
    </h3>
    <div class="date">
        <span class="text-sm">
            <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
        </span>
    </div>
    <p class="description mt-3 mb-5">{{ description }}</p>
    <div class="tags inline-flex gap-4">
        {% for label in tagLabels %}
            {% if (label !== "post") %}
                {{ tag(label) }}
            {% endif %}
        {% endfor %}
    </div>
    {% if not (title === "Career Q & A") %}
        <div class="my-11 flex justify-center">
            {% include "../elements/_divider-dark.njk" %}
        </div>
    {% endif %}
{% endmacro %}