{% macro label(text, link) %}
  <li class="sidebar-nav-item flex group py-1 my-2">
    <a href="{{ link }}" class="sidebar-nav-item-label inline-flex flex-row w-full h-full pl-6 pt-1 rounded group-hover:bg-primary-40 group-active:bg-primary-60 focus:outline focus:outline-2 focus:outline-primary-30 sm-nav-link-sidebar xl:xl-nav-link-sidebar text-neutral-10 group-hover:text-neutral-0">
      {{ text }}
    </a>
  </li>
{% endmacro %}
{% macro sectionlabel(text) %}
  <li class="navbar-section-heading mt-7 pl-6 sm-heading-sidebar xl:xl-heading-sidebar text-neutral-20">{{ text }}</li>
{% endmacro %}