<div class="flex flex-row gap-3">
    <div class="circle h-6 w-6 xl:h-7 xl:w-7 rounded-full bg-primary-10"></div>
    <div class="circle h-6 w-6 xl:h-7 xl:w-7 rounded-full bg-primary-20"></div>
    <div class="circle h-6 w-6 xl:h-7 xl:w-7 rounded-full bg-primary-30"></div>
    <div class="circle h-6 w-6 xl:h-7 xl:w-7 rounded-full bg-primary-40"></div>
    <div class="circle h-6 w-6 xl:h-7 xl:w-7 rounded-full bg-primary-50"></div>
</div>