<div class="flex flex-row gap-3">
    <div class="divider-circle h-6 w-6 rounded-full bg-primary-40"></div>
    <div class="divider-circle h-6 w-6 rounded-full bg-primary-50"></div>
    <div class="divider-circle h-6 w-6 rounded-full bg-primary-60"></div>
    <div class="divider-circle h-6 w-6 rounded-full bg-primary-70"></div>
    <div class="divider-circle h-6 w-6 rounded-full bg-primary-80"></div>
</div>