<div id="approach" class="flex flex-col gap-7 w-full px-5 md:px-0 md:pr-13 lg:pr-48 xl:pr-13 max:pr-48">
    <h2 id="approach-title" class="sm-heading-1 lg:lg-heading-1 xl:xl-heading-1">My approach</h2>
    <div id="approach-introduction" class="flex flex-col gap-6 lg:gap-7 xl:gap-[36px]">
        {% for paragraph in approach.paragraphs %}
            <p class="sm-paragraph-long lg:lg-paragraph-long xl:xl-paragraph-long">
                {{ paragraph }}
            </p>
        {% endfor %}
    </div>
</div>