<div id="background" class="flex flex-col w-full gap-7 md:gap-8">
    <div id="background-introduction" class="flex flex-col gap-6 md:gap-7 md:px-0 md:pr-13 lg:pr-48 xl:pr-13 max:pr-48">
        <h2 class="sm-heading-1 lg:lg-heading-1 xl:xl-heading-1">Background</h2>
        <p class="sm-paragraph-long lg:lg-paragraph-long xl:xl-paragraph-long">
            My past experiences shape my UX work: studying behavior, working directly with people from diverse backgrounds, and
            creating websites and web applications.
        </p>
    </div>
    {% include "_featured-content.njk" %}
</div>