{% from "./components/cta.njk" import cta %}
<div class="contact w-full flex flex-col gap-6 md:gap-7 lg:gap-9 xl:gap-10">
    <h2 class="sm-heading-2 lg:lg-heading-2 xl:xl-heading-2">
        What's next?
    </h2>
    <div class="ctas flex flex-col gap-6">
        {{ cta("email", "Email me to connect", "mailto:jaredjgebel@gmail.com") }}
        {{ cta("figma", "View this portfolio on Figma", "https://www.figma.com/file/yIh5O3hUg7nBnts8SFkkDj/Portfolio") }}
        {{ cta("github", "View this portfolio on Github", "https://github.com/jaredjgebel/ux-portfolio") }}
        {{ cta("articles", "Learn about how I think in my journal", "/journal") }}
    </div>
</div>