{% import "./components/nav-item-footer.njk" as navitemfooter %}
<nav id="footer" class="grid-layout-row bg-primary-80">
    <ul class="grid-layout-content pl-3 py-9 md:pl-6 lg:pl-0 pr-5 lg:pr-0 md:pt-10 lg:pt-11 lg:pb-10 md:pb-9">
        <div class="md:hidden flex flex-col gap-9">
            <div id="nav-section-1">
                {{ navitemfooter.label("Home") }}
            </div>
            <div id="nav-section-2" class="flex flex-col gap-3">
                {{ navitemfooter.label("Blog") }}
                {{ navitemfooter.label("Q & A") }}
            </div>
            <div id="nav-section-3" class="flex flex-col gap-3">
                {{ navitemfooter.label("Email") }}
                {{ navitemfooter.label("LinkedIn") }}
                {{ navitemfooter.label("Github") }}
            </div>
        </div>
        <div id="nav-section-1" class="hidden md:flex md:flex-row md:items-center md:gap-3">
            {{ navitemfooter.label("Home") }}
            <span class="text-neutral-10">&#8226;</span>
            {{ navitemfooter.label("Blog") }}
            <span class="text-neutral-10">&#8226;</span>
            {{ navitemfooter.label("Q & A") }}
        </div>
        <div id="nav-section-2" class="hidden md:flex md:flex-row md:items-center md:gap-3">
            {{ navitemfooter.label("Email") }}
            <span class="text-neutral-10">&#8226;</span>
            {{ navitemfooter.label("LinkedIn") }}
            <span class="text-neutral-10">&#8226;</span>
            {{ navitemfooter.label("Github") }}
        </div>
        <div id="nav-section-4" class="pt-10 md:pt-12 lg:pt-13 ">
            <li class="nav-item-footer">
                <a
                    href="#"
                    class="inline-flex flex-row h-full p-3 rounded text-neutral-10 leading-5 hover:underline focus:outline focus:outline-2
                        focus:outline-primary-30">
                    Attributions</a>
            </li>
        </div>
    </ul>
</nav>