{% import "./components/nav-item-footer.njk" as navitemfooter %}
<nav id="footer" class="grid-layout-row bg-primary-80">
    <div class="grid-layout-content">
        <ul>
            {{ navitemfooter.label("Home") }}
        </ul>
    </div>
</nav>