<header>
    <div id="header-content" class="flex flex-col gap-6 pt-13 px-5 pb-7 bg-primary-80 text-primary-0">
        <div id="title-and-divider" class="flex flex-col gap-7">
            <div id="title-and-subtitle" class="flex flex-col gap-2">
                <h1>Jared Gebel</h1>
                <h2>UX Research and Design</h2>
            </div>
            {% include "fragments/_divider-light.njk" %}
            <div id="specialties" class="flex flex-col">
                <span>Interaction Design</span>
                <span>Usability</span>
                <span>UI Design</span>
            </div>
        </div>
    </header>