<header class="grid-layout-row bg-primary-80">
    <div
        id="header-content"
        class="grid-layout-content flex flex-col gap-6 pt-13 px-5 md:px-0 pb-7 md:pb-12 lg:pt-[232px] lg:pb-13 xl:pt-64 max:pt-80
            max:pb-48 text-primary-0">
        <div id="title-and-divider" class="flex flex-col gap-7">
            <div id="title-and-subtitle" class="flex flex-col gap-2">
                <h1 class="sm-heading-display">Jared Gebel</h1>
                <h2 class="sm-heading-2">UX Research and Design</h2>
            </div>
            {% include "fragments/_divider-light.njk" %}
            <div id="specialties" class="flex flex-col font-['Prodigy_Sans'] leading-5">
                <span>Interaction Design</span>
                <span>Usability</span>
                <span>UI Design</span>
            </div>
        </div>
    </div>
</header>