<div
    x-data="{ isToggled: false }"
    @resize.debounce.100.window="isToggled = (window.innerWidth < 1056) ? isToggled : false">
    <nav class="lg:hidden bg-primary-70 h-9 flex pl-3 items-center" @keydown.escape="isToggled = false">
        <button
            class="flex items-center gap-3 p-3 rounded-sm group focus:outline-neutral-0 focus:outline-dashed focus:outline-1"
            @click="() => { isToggled = !isToggled }"
            aria-labelledby="menu-button-label">
            {% include "_includes/svg/_hamburger-menu.njk" %}
            <span id="menu-button-label" class="text-neutral-10 group-hover:text-neutral-0 group-focus:text-neutral-0">Menu</span>
        </button>
    </nav>
    <div class="lg:hidden">
        {% include "_includes/_menu.njk"%}
    </div>
</div>