<div
    class="flex flex-col items-center gap-11 lg:gap-12">
    {# Section: The UX skills I've acquired #}
    <div class="prose prose-custom prose-custom-fonts first-paragraph-featured-text unordered-list-items">{% renderFile "./_includes/markdown/_skills.md" %}</div>
    {% include "./fragments/_divider-dark.njk"%}
    {# Section: My unique strengths #}
    <div class="prose prose-custom prose-custom-fonts first-paragraph-featured-text unordered-list-items">{% renderFile "./_includes/markdown/_strengths.md" %}</div>
</div>