<div class="overview-section grid-layout-row text-neutral-0 bg-teal-900 py-9">
    <div class="grid-layout-content gap-7">
        <div class="overview-solution-content col-span-full md:col-span-4 mdlg:col-span-10 flex flex-col gap-5">
            <h3 class="sm-heading-3 xl:xl-heading-3">Solution</h3>
            <p class="sm-body-featured xl:xl-body-featured">
                I identified the needs and core behaviors of grain farmers when they sell their crops and hedge commodity derivatives.
            </p>
            <p class="sm-body-featured xl:xl-body-featured">
                I developed features to improve grain farmers’ workflows:
            </p>
            <ul class="flex flex-col gap-4 sm-body-featured xl:xl-body-featured pl-8">
                <li class="list-disc marker:text-neutral-10 list-outside">Current market prices</li>
                <li class="list-disc marker:text-neutral-10 list-outside">A market alert system</li>
                <li class="list-disc marker:text-neutral-10 list-outside">Saved market contracts</li>
                <li class="list-disc marker:text-neutral-10 list-outside">Projection of potential revenue outcomes
                </li>
            </ul>
        </div>
        <div class="overview-solution-image col-span-full md:col-span-4 mdlg:col-span-6 flex justify-center justify-">
            <img
                class="w-full max-w-[320px]"
                src="../../assets/images/case-studies/product-design/notification-panel.webp"
                alt=""
                loading="lazy"></div>
        </div>
    </div>