<div class="overview-section grid-layout-row text-neutral-0 bg-primary-70 py-9">
    <div class="grid-layout-content gap-y-5">
        <h3 class="sm-heading-3 xl:xl-heading-3 col-span-full">Summary</h3>
        <p class="sm-body-featured xl:xl-body-featured  col-span-full md:col-span-6 mdlg:col-span-10 lg:col-span-8">
            Grain farmers need to sell their crops at high prices to make a profit.
        </p>
        {# col-start-1 necessary to push paragraph to next grid row #}
        <p class="sm-body-featured xl:xl-body-featured col-span-full col-start-1 md:col-span-6 mdlg:col-span-10 lg:col-start-1
                lg:col-span-10">
            Farmers engage in the local and national commodities markets to lock in or increase prices, but the process is complex
            and risky.
        </p>
    </div>
</div>