{% featuredSection "bg-primary-70" %}
<h3 class="sm-heading-3 xl:xl-heading-3">Summary</h3>
<p class="sm-body-featured xl:xl-body-featured">
    Grain farmers need to
    <b>sell their crops at high prices</b>
    to make a profit.
</p>
<p class="sm-body-featured xl:xl-body-featured">
    Farmers engage in the local and national commodities markets to lock in or increase prices, but
    <b>the process is complex and risky</b>.
</p>
{% endfeaturedSection %}