{% featuredSection "bg-primary-50"%}
<h3 class="sm-heading-3 xl:xl-heading-3">Solution</h3>
<p class="sm-body-featured xl:xl-body-featured">
    I designed features for grain farmers to
    <a href="/case-studies/market-watcher-product-design/#monitoring-market-prices">track market prices</a>
    and
    <a href="/case-studies/market-watcher-product-design/#evaluating-potential-contracts">evaluate potential revenue
        outcomes.</a>
</p>
<p class="sm-body-featured xl:xl-body-featured">To address usability constraints, I reduced the need for data entry by
    <strong>saving as much state as possible between views</strong>
    in the user flow.</p>
{% endfeaturedSection %}