<div class="overview-section grid-layout-row text-neutral-0 bg-primary-70 py-9">
    <div class="grid-layout-content gap-y-5">
        <h3 class="sm-heading-3 xl:xl-heading-3 col-span-full">Summary</h3>
        <p class="sm-body-featured xl:xl-body-featured col-span-full md:col-span-6 mdlg:col-span-11 lg:col-span-8">
            Grain farmers
            <strong>must consider many factors when deciding to sell their crops on contract</strong>. Through user research, I uncovered these factors and examined them from a
            <strong>business and usability perspective</strong>.
        </p>
        {# col-start-1 necessary to push paragraph to next grid row #}
        <p class="sm-body-featured xl:xl-body-featured col-span-full col-start-1 md:col-span-6 mdlg:col-span-10 lg:col-start-1
                lg:col-span-10">
            While walking through the user flow, I illustrate how Market Watcher assists in evaluating a potential sale by
            <strong>surfacing necessary information</strong>
            and
            <strong>reducing points of friction</strong>.
        </p>
    </div>
</div>