{% featuredSection "bg-primary-70" %}
<h3 class="sm-heading-3 xl:xl-heading-3">Summary</h3>
<p class="sm-body-featured xl:xl-body-featured">
    Grain farmers
    <strong>must consider many factors when deciding to sell their crops on contract</strong>. Through user research, I uncovered these factors and examined them from a
    <strong>business and usability perspective</strong>.
</p>
<p class="sm-body-featured xl:xl-body-featured">
    While walking through the user flow, I illustrate how Market Watcher assists in evaluating a potential sale by
    <strong>surfacing necessary information</strong>
    and
    <strong>reducing points of friction</strong>.
</p>
{% endfeaturedSection %}