<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>{{ title }}</title>
        {% if description %}
            <meta name="description" content="{{ description }}"/>
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
        <meta property="og:url" content="https://www.jaredjgebel.com/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Jared Gebel, UX Designer">
        <meta property="og:description" content="Portfolio website for Jared Gebel, UX Designer">
        <meta property="og:image" content="/assets/open-graph/index.png">
        <link rel="preload" href="../assets/woff2/ProdigySans-Medium.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="../assets/woff2/ProdigySans-Regular.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="stylesheet" href="./style.css{% version %}"/> {% block head %}{% endblock %}
        <script defer src="./js/alpine.js{% version %}"></script>
        <style>
            [x-cloak] {
                display: none !important;
            }
        </style>
        <link rel="icon" href="/assets/favicons/favicon.ico" sizes="any">
        <link rel="icon" href="/assets/favicons/favicon.svg" type="image/svg+xml">
        <link
        rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon.png">
        {# Firefox FOUC fix? #}
        <script>
            let FF_FOUC_FIX;
        </script>
    </head>
    <body>
        {% include "../_nav.njk" %}
        <div class="grid-layout-base bg-neutral-10">
            {% include "../_sidebar.njk" %}
            <div class="">
                {% block content %}
                    {{ content | safe }}
                {% endblock %}
                {% include "../_footer.njk" %}
            </div>
        </div>
    </body>
</html>