{% from "../components/tag.njk" import tag as tag %}
{% from "../components/icon.njk" import icon as icon %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ title }}</title>
    {% if description %}
      <meta name="description" content="{{ description }}"/>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    {% opengraph page.url, title, description, page.fileSlug %} <link rel="preload" href="../../assets/woff2/ProdigySans-Medium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="../../assets/woff2/ProdigySans-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="../../style.css{% version %}"/> {% block head %}{% endblock %}
    <script defer src="../../js/alpine.js{% version %}"></script>
    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
    <link rel="icon" href="/assets/favicons/favicon.ico" sizes="any">
    <link rel="icon" href="/assets/favicons/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon.png"> {% tachyon %}
    {# Firefox FOUC fix? #}
    <script>
      let FF_FOUC_FIX;
    </script>
  </head>
  <body>
    {% include "../_nav.njk" %}
    <div class="grid-layout-base flex flex-col bg-neutral-10">
      {% include "../_sidebar.njk" %}
      <main class="flex flex-col min-h-screen">
        <div class="grid-layout-row my-10 xl:mb-12 grow">
          <div class="grid-layout-content">
            <div class="grid-col-layout">
              <div class="lg:hidden">
                <a
                  href="/journal"
                  class="group inline-flex flex-row items-center w-fit p-3 ml-[-12px] mb-6 text-primary-70 rounded-sm hover:text-primary-50
                    focus:outline focus:outline-2 focus:outline-primary-70 focus:outline- active:text-primary-50 active:outline-primary-50">
                  {{ icon("small", "arrow-left", "fill-primary-70 group-hover:fill-primary-50") }}
                  <span class="relative top-[0.105rem]">All posts</span>
                </div>
              </a>
              <article class="prose prose-custom-fonts first-header-no-margin first-paragraph-margin italic-in-heading ordered-list-items
                  unordered-list-items">
                {% block content %}
                  {{ content | safe }}
                {% endblock %}
                <div class="tags flex gap-4 mt-7">
                  {% for label in tags %}
                    {% if (label !== "post") and (label !== "social posts") %}
                      {{ tag(label, "light") }}
                    {% endif %}
                  {% endfor %}
                </div>
              </article>
            </div>
          </div>
        </div>
        {% include "../_footer.njk" %}
      </main>
    </div>
  </body>
</html>