<svg
    xmlns="http://www.w3.org/2000/svg"
    class="stroke-neutral-10 stroke-2 group-hover:stroke-neutral-0 group-focus:stroke-neutral-0"
    height="24"
    width="24"><path
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2.571"
        d="M1.714 19.714h20.572M1.714 4.286h20.572Zm0 7.714h20.572Z"/>
</svg>