{% extends "../_includes/layouts/journal-list.njk" %}
{% from "../_includes/components/icon-info.njk" import iconInfo %}
{% block title %}
    Attributions
{% endblock title %}
{% block description %}
    Attributions for Jared Gebel's personal website
{% endblock description %}
{% block content %}
    <div class="prose prose-custom max-w-none prose-custom-fonts prose-custom-layout first-header-no-margin first-paragraph-margin
            unordered-list-items py-10 xl:py-12">
        <h1>Attributions</h1>
        <h2>Font</h2>
        <p>
            <a href="https://github.com/weiweihuanghuang/Prodigy-Sans">Prodigy Sans</a>
            by Wei Huang
        </p>
        <h2>Icons</h2>
        <ul class="list-none pl-0">
            {% for iconAttribution in iconAttributions %}
                <li>
                    {{ iconInfo(iconAttribution.iconName, iconAttribution.fileName, iconAttribution.link, iconAttribution.author, iconAttribution.website, iconAttribution.paintType) }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}