{% macro icon(size, iconName) %}
    {% if iconName === "User Bubbles" %}
        {% if size === "sm" %}
            {% include "../svg/user-bubbles.njk" %}
        {% elif size === "lg" %}
            {% include "../svg/user-bubbles-lg.njk" %}
        {% endif %}
    {% endif %}
    {% if iconName === "Road" %}
        {% if size === "sm" %}
            {% include "../svg/road.njk" %}
        {% elif size === "lg" %}
            {% include "../svg/road-lg.njk" %}
        {% endif %}
    {% endif %}
    {% if iconName === "Monitor" %}
        {% if size === "sm" %}
            {% include "../svg/monitor.njk" %}
        {% elif size === "lg" %}
            {% include "../svg/monitor-lg.njk" %}
        {% endif %}
    {% endif %}
    {% if iconName === "Text Boxes" %}
        {% include "../svg/text-boxes-lg.njk" %}
    {% endif %}
    {% if iconName === "Magnifying Glass" %}
        {% include "../svg/magnifying-glass-lg.njk" %}
    {% endif %}
{% endmacro %}