{% extends "../_includes/layouts/index.njk" %}
{% block content %}
  <div>
    <article class="card flex flex-col items-start p-5 gap-3 w-[272px] bg-neutral-0">
      <img src="../../assets/images/case-studies/prices-screen.jpg" alt="" class="">
      <header>
        <h2 class="sm:sm-heading-4">Market Watcher: Designing a hero flow</h2>
      </header>
      <div class=" card-content">
        asdf
      </div>
    </article>
  </div>
{% endblock content %}