---
title: Case studies
description: UX and product design case studies by Jared Gebel
---

{% extends "../../src/_includes/layouts/journal-list.njk" %}
{% from "../_includes/components/button-ghost.njk" import ghostButton %}
{% from "../_includes/components/card.njk" import card as card %}
{% block content %}
    <div class="grid-layout-row">
        <div class="grid-col-layout">
            <div class="lg:hidden">
                {{ ghostButton("Home") }}
            </div>
            <div class="prose py-10 xl:py-12">
                <h1 class="sm-heading-1 xl:xl-heading-1">Case studies</h1>
                {% include "../_includes/_cards-case-studies.njk" %}
            </div>
        </div>
    </div>
{% endblock content %}