---
title: Case studies
description: UX design and product design case studies by Jared Gebel
---

{% extends "../../src/_includes/layouts/case-studies.njk" %}
{% block content %}
    <p>case studies</p>
{% endblock content %}