---
title: Enhancing value through research-driven product development
description: UX research and design case study by Jared Gebel
tags: case study
---

{% extends "../../src/_includes/layouts/case-studies.njk" %}
{% from "../../src/_includes/components/toc-item.njk" import tocItem %}
{% block content %}
    <main>
        {# Header #}
        <header>
            {# Hero and title #}
            <div class="hero-image">
                <img
                    class="h-[320px] xl:h-[400px] w-full object-cover"
                    src="../../assets/images/case-studies/product-design/aerial-harvest.webp"
                    alt=""
                    width="1920"
                    height="881"/>
            </div>
            {# Title  #}
            <div class="title grid-layout-row bg-richBrown text-neutral-0">
                <div class="grid-layout-content pb-7 gap-y-4">
                    <div class="col-span-full max:col-[_span_14]">
                        {% createHeading "1", title, "true", [] %}
                    </div>
                    <div class="col-span-full">
                        <h2 class="sm-subheading-small">Market Watcher</h2>
                        <h2 class="sm-subheading-small">Case Study</h2>
                    </div>
                </div>
            </div>
        </header>
        {# Overview #}
        <div id="overview" class="overview-intro-sections grid-layout-row">
            <div class="grid-layout-content pt-6 pb-8">
                {# Hero image #}
                <!-- Contract Summary Mockup -->
                    <figure class="w-full col-span-full xl:col-start-3 xl:col-span-12 flex justify-center"> <picture>
                        <source
                            srcset="../../assets/images/case-studies/product-design/contract-summary-mockup.webp"
                            media="(min-width:43rem)"
                            width="2232"
                            height="1880"/>
                        <img
                            src="../../assets/images/case-studies/product-design/contract-summary-mockup-sm.webp"
                            alt=""
                            width="432"
                            height="1191"/>
                    </picture>
                </figure>
                {# Overview #}
                <div class="col-span-full prose prose-custom-fonts unordered-list-items">
                    {% renderFile "src/_includes/case-studies/_research-value-overview.md" %}
                </div>
            </div>
        </div>
        {# The business problem #}
        <div class="col-span-full">
            {% renderFile "src/_includes/case-studies/_research-value-business-problem.md" %}
        </div>
        {# The solution #}
        <div class="col-span-full">
            {% renderFile "src/_includes/case-studies/_research-value-solution.md" %}
        </div>
        {# Case study body content #}
        <div class="grid-layout-row py-10">
            <div class="grid-layout-content">
                <div class="col-span-full mdlg:col-span-11 prose prose-custom-fonts prose-lead:mt-10 first-header-no-margin
                        first-paragraph-margin italic-in-heading ordered-list-items unordered-list-items">
                    {% renderFile "src/_includes/case-studies/_research-value.md" %}
                </div>
                {# Table of contents #}
                {% tableOfContents "richBrown" %}
                {{ tocItem("Overview", "1", "#overview") }}
                {{ tocItem("Being a successful farmer requires thinking like a stock trader", "1", "#being-a-successful-farmer-requires-thinking-like-a-stock-trader") }}
                {{ tocItem("Increasing revenue and mitigating price risk", "1", "#increasing-revenue-and-mitigating-price-risk") }}
                {{ tocItem("Monitoring market prices", "2", "#monitoring-market-prices") }}
                {{ tocItem("Evaluating potential contracts", "2", "#evaluating-potential-contracts") }}
                {{ tocItem("Engaging the other side of the marketplace", "1", "#engaging-the-other-side-of-the-marketplace") }}
                {{ tocItem("Sending contract specs directly to farmers", "2", "#sending-contract-specs-directly-to-farmers") }}
                {{ tocItem("Facilitating grain sales", "2", "#facilitating-grain-sales") }}
                {{ tocItem("Promoting contract offerings", "2", "#promoting-contract-offerings") }}
                {{ tocItem("Conclusion: Prioritizing multiple players in a marketplace", "1", "#prioritizing-multiple-players-in-a-marketplace") }}
                {% endtableOfContents %}
            </div>
        </div>
    </main>
{% endblock content %}