---
title: Enhancing value through research-driven product development
description: UX research and design case study by Jared Gebel
tags: case study
---

{% extends "../../src/_includes/layouts/case-studies.njk" %}
{% from "../../src/_includes/components/toc-item.njk" import tocItem %}
{% block content %}
    <main>
        {# Header #}
        <header>
            {# Header image #}
            <div class="header-image">
                <img
                    class="h-[320px] xl:h-[400px] w-full object-cover object-left md:object-bottom max:object-left"
                    src="../../assets/images/case-studies/research-value/bins.webp"
                    alt=""
                    width="1920"
                    height="1187"/>
            </div>
            {# Title  #}
            <div class="title grid-layout-row bg-richBrown text-neutral-0">
                <div class="grid-layout-content pb-7 gap-y-4">
                    <div class="col-span-full max:col-[_span_14]">
                        {% createHeading "1", title, "true", [] %}
                    </div>
                    <div class="col-span-full">
                        <h2 class="sm-subheading-small">Market Watcher</h2>
                        <h2 class="sm-subheading-small">Case Study</h2>
                    </div>
                </div>
            </div>
        </header>
        {# Overview #}
        <div id="overview" class="overview-intro-sections grid-layout-row">
            <div class="grid-layout-content pt-6 pb-8">
                {# Hero image #}
                <!-- Cash bids mockup -->
                    <figure class="w-full col-span-full xl:col-start-3 xl:col-span-12 flex justify-center"> <picture>
                        <source
                            srcset="../../assets/images/case-studies/research-value/cash-bids-tablet.webp"
                            media="(min-width:43rem)"
                            width="1704"
                            height="1319"/>
                        <img src="../../assets/images/case-studies/research-value/cash-bids-sm.webp" alt="" width="585" height="1266"/>
                    </picture>
                </figure>
                {# Overview #}
                <div class="col-span-full prose prose-custom-fonts unordered-list-items mt-8">
                    {% renderFile "src/_includes/case-studies/_research-value-overview.md" %}
                </div>
            </div>
        </div>
        {# The business problem #}
        <div class="col-span-full">
            {% renderFile "src/_includes/case-studies/_research-value-business-problem.md" %}
        </div>
        {# The solution #}
        <div class="col-span-full">
            {% renderFile "src/_includes/case-studies/_research-value-solution.md" %}
        </div>
        {# Case study body content #}
        <div class="grid-layout-row py-10">
            <div class="grid-layout-content">
                <div class="col-span-full mdlg:col-span-11 prose prose-custom-fonts prose-lead:mt-10 first-header-no-margin
                        first-paragraph-margin italic-in-heading ordered-list-items unordered-list-items">
                    {% renderFile "src/_includes/case-studies/_research-value.md" %}
                </div>
                {# Table of contents #}
                {% tableOfContents "richBrown" %}
                {{ tocItem("Overview", "1", "#overview") }}
                {{ tocItem("The business problem", "2", "#the-business-problem") }}
                {{ tocItem("The solution", "2", "#the-solution") }}
                {{ tocItem("My research process", "1", "#my-research-process") }}
                {{ tocItem("Secondary sources", "2", "#secondary-sources") }}
                {{ tocItem("User research", "2", "#user-research") }}
                {{ tocItem("Findings", "2", "#findings") }}
                {{ tocItem("Impact of research", "1", "#impact-of-research") }}
                {{ tocItem("Features that directly address workflow pain points", "2", "#features-that-directly-address-workflow-pain-points") }}
                {{ tocItem("Shaping my design process", "2", "#shaping-my-design-process") }}
                {{ tocItem("Creating a simple interface for a complex product", "2", "#creating-a-simple-interface-for-a-complex-product") }}
                {{ tocItem("Getting the details right", "2", "#getting-the-details-right") }}
                {{ tocItem("Linking together features to facilitate market strategies", "2", "#linking-together-features-to-facilitate-market-strategies") }}
                {{ tocItem("Conclusion", "1", "#conclusion") }}
                {% endtableOfContents %}
            </div>
        </div>
    </main>
{% endblock content %}