---
title: Case studies
description: UX design and product design case studies by Jared Gebel
---

{% extends "../../src/_includes/layouts/case-studies.njk" %}
{% from "../../src/_includes/components/toc-item.njk" import tocItem %}
{% block content %}
    <main>
        {# Header #}
        <header>
            {# Hero and title #}
            <div class="hero-image">
                <img
                    class="h-[320px] xl:h-[400px] w-full object-cover"
                    src="../../assets/images/case-studies/product-design/aerial-harvest.webp"
                    alt="">
                    {# Title  #}
                    <div class="title grid-layout-row bg-teal-900 text-neutral-0">
                        <div class="grid-layout-content pb-7 gap-y-4">
                            <div class="col-span-full max:col-[_span_14]">
                                {% createHeading "1", "Designing a product to help grain farmers increase revenue", "true", [] %}
                            </div>
                            <div class="col-span-full">
                                <h2 class="sm-subheading-small">Market Watcher</h2>
                                <h2 class="sm-subheading-small">Case Study</h2>
                            </div>
                        </div>
                    </div>
                </header>
                {# Overview #}
                <div id="overview" class="overview-intro-sections grid-layout-row">
                    <div class="grid-layout-content pt-6 pb-8">
                        {# Hero image #}
                        <!-- Contract Summary Mockup -->
                            <figure class="w-full col-span-full xl:col-start-3 xl:col-span-12 flex justify-center"> <picture>
                                <source
                                    srcset="../../assets/images/case-studies/product-design/contract-summary-mockup.webp"
                                    media="(min-width:43rem)"/>
                                <img
                                    src="../../assets/images/case-studies/product-design/contract-summary-mockup-sm.webp"
                                    alt=""
                                    width="100%"
                                    height="auto"/>
                            </picture>
                        </figure>
                        {% createHeading "2", "Overview", "true", ["col-span-full"] %}
                        {# Project context #}
                        <div class="overview-intro-section col-span-full md:col-span-4 mdlg:col-span-8">
                            {% createHeading "3", "Project context", "false", [] %}
                            <p class="pt-4 sm-paragraph-long xl:xl-paragraph">
                                Independently completed as a part of the UX Research and Design Specialization from the University of Michigan
                            </p>
                        </div>
                        {# Highlighted methods #}
                        <div class="overview-intro-section sm:col-span-full md:col-span-4 mdlg:col-span-8">
                            {% createHeading "3", "Highlighted methods", "false", [] %}
                            <ul class="pt-4 sm-paragraph-long xl:xl-paragraph pl-8">
                                <li class="list-disc marker:text-primary-70 list-outside">Product design</li>
                                <li class="list-disc marker:text-primary-70 list-outside">Feature development</li>
                                <li class="list-disc marker:text-primary-70 list-outside">User research</li>
                                <li class="list-disc marker:text-primary-70 list-outside">Secondary research
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {# Summary #}
                {% include "../_includes/case-studies/_product-design-summary.njk" %}
                {# Solution #}
                {% include "../_includes/case-studies/_product-design-solution.njk" %}
                {# Case study body content #}
                <div class="grid-layout-row py-7">
                    <div class="grid-layout-content">
                        <div class="col-span-full mdlg:col-span-11 prose max-w-none prose-custom-fonts prose-custom-layout first-header-no-margin
                                first-paragraph-margin italic-in-heading ordered-list-items unordered-list-items">
                            {% renderFile "src/_includes/case-studies/_product-design.md" %}
                        </div>
                        <div class="hidden mdlg:flex mdlg:col-span-5">
                            <nav class="case-study-table-of-contents w-full h-min bg-primary-50 rounded-lg text-neutral-0 px-5 py-4">
                                <ul class="flex flex-col ">
                                    {{ tocItem("Overview", "1", "#overview") }}
                                    {{ tocItem("The business problem", "1", "#the-business-problem") }}
                                    {{ tocItem("The Market Watcher solution", "1", "#the-market-watcher-solution") }}
                                    {{ tocItem("Monitoring market prices", "2", "#monitoring-market-prices") }}
                                    {{ tocItem("Evaluating potential contracts", "2", "#evaluating-potential-contracts") }}
                                    {{ tocItem("Grain processors", "1", "#grain-processors") }}
                                    {{ tocItem("Freeing up grain buyers", "2", "#freeing-up-grain-buyers") }}
                                    {{ tocItem("Promoting contract offerings", "2", "#promoting-contract-offerings") }}
                                    {{ tocItem("Conclusion", "1", "#conclusion") }}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </main>
        {% endblock content %}