<div id="divider" class="flex flex-row gap-3">
    <div id="divider-circle" class="h-6 w-6 rounded-full bg-primary-40"></div>
    <div id="divider-circle" class="h-6 w-6 rounded-full bg-primary-50"></div>
    <div id="divider-circle" class="h-6 w-6 rounded-full bg-primary-60"></div>
    <div id="divider-circle" class="h-6 w-6 rounded-full bg-primary-70"></div>
    <div id="divider-circle" class="h-6 w-6 rounded-full bg-primary-80"></div>
</div>