---
title: Jared's UX Journal
description: List of posts for Jared Gebel's UX journal/blog
---

{% extends "../_includes/layouts/journal-list.njk" %}
{% from "../_includes/components/icon.njk" import icon %}
{% block content %}
  <a
    href="/"
    class="group inline-flex flex-row items-center w-fit p-3 mt-6 ml-[-12px] text-primary-70 rounded-sm hover:text-primary-50
      focus:outline focus:outline-2 focus:outline-primary-70 focus:outline- active:text-primary-50 active:outline-primary-50">
    {{ icon("small", "arrow-left", "fill-primary-70 group-hover:fill-primary-50") }}
    <span class="relative top-[0.105rem]">Home</span>
  </a>
  <div class="prose max-w-none prose-custom-fonts prose-custom-layout first-header-no-margin italic-in-heading
      ordered-list-items unordered-list-items py-10 xl:py-12">
    <h1>Jared's UX Journal</h1>
    {% for post in collections.post | reverse %}
      <h2 class="mb-1">
        <a href="{{ post.data.page.url }}" class="outline-2 outline-primary-70">{{ post.data.title }}</a>
      </h2>
      <div class="date">
        <span class="text-sm">
          <time datetime="{{ post.data.date | dateIso }}">{{ post.data.date | dateReadable }}</time>
        </span>
      </div>
      <p class="description mt-3 mb-5">{{ post.data.description }}</p>
      <div class="tags inline-flex gap-4">
        {% set tags = post.data.tags %}
        {% for tag in tags %}
          {% if tag !== "post" %}
            <div class="tag bg-primary-10 px-3 rounded-sm">
              <span class="text-sm">{{ tag }}</span>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  {% endblock content %}
</div>