---
title: Jared's UX Journal
description: List of posts for Jared Gebel's UX journal/blog
---

{% extends "../_includes/layouts/journal-list.njk" %}
{% from "../_includes/components/icon.njk" import icon %}
{% from "../_includes/components/post-listing.njk" import postListing %}
{% block content %}
  <a
    href="/"
    class="group inline-flex flex-row items-center w-fit p-3 mt-6 ml-[-12px] text-primary-70 rounded-sm hover:text-primary-50
      focus:outline focus:outline-2 focus:outline-primary-70 focus:outline- active:text-primary-50 active:outline-primary-50">
    {{ icon("small", "arrow-left", "fill-primary-70 group-hover:fill-primary-50") }}
    <span class="relative top-[0.105rem]">Home</span>
  </a>
  <div class="prose max-w-none prose-custom-fonts prose-custom-layout first-header-no-margin italic-in-heading
      ordered-list-items unordered-list-items py-10 xl:py-12">
    <h1>Jared's UX Journal</h1>
    <h2>Long-Form Posts</h2>
    {% for post in collections.post | reverse %}
      {% set tags = post.data.tags %}
      {% if not tags | hasTag('social posts') %}
        {{ postListing(post.data.page.url, post.data.title, post.data.date, post.data.description, tags) }}
      {% endif %}
    {% endfor %}
    <h2>Social Posts</h2>
    {% for post in collections.post | reverse %}
      {% set tags = post.data.tags %}
      {# content is each markdown file rendered as HTML #}
      {# this is necessary to access each post without frontmatter #}
      {% set content = post._templateContent %}
        {% if tags | hasTag('social posts') %}
        {{ postListing(post.data.page.url, post.data.title, post.data.date, post.data.description, tags) }}
        {# shortcode strips title and date from post using regex #}
      {% socialPost content %}
    {% endif %}
  {% endfor %}
{% endblock content %}</div>