---
title: Jared Gebel, UX Designer and Researcher
description: Personal website for Jared Gebel, UX Designer and Researcher
---

{% extends "./_includes/layouts/index.njk" %}
{% block content %}
  <main
    class="grid-layout-row lg:my-12 xl:my-13">
    {# <div class="grid-layout-content flex flex-col gap-10 md:gap-12 xl:gap-13"> #}
    {% include "./_includes/_approach.njk" %}
    {# </div> #}
    {% include "./_includes/_background.njk" %}
    {% include "./_includes/_pages.njk" %}
    {% include "./_includes/_cards.njk" %}
    {% include "./_includes/_contact.njk" %}
  </main>
{% endblock %}